<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Classiffier</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" rel="stylesheet">
    <link href="{{ url_for('static', filename='scss/index.css') }}" rel="stylesheet">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="nav-container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">News Classiffier</a>
    </div>
</nav>
<h1 class="text-center fs-1 font-monospace main-text">News Classiffier</h1>

<div class="form-container">
    <div class="form-wrapper">
        <form action="/predict" class="text-center input-form" method="POST">
            <div class="content-input">
                <div class="inputs-container">
                    <label for="model"></label>
                    <select class="form-select" id="model" name="model">
                        <option selected value="rfc">Random Forest Classifier</option>
                        <option value="brt">Bert Base Uncased Fine Tuned</option>
                    </select>
                    <div class="mb-3 input-text url-input d-none">
                        <input aria-label="URL" class="form-control form-control-lg" id="url" name="input_url"
                               placeholder="URL" type="text">
                    </div>
                    <div class="mb-3 input-text text-inputs">
                        <input aria-label="Title" class="form-control form-control-lg" id="title" name="input_title"
                               placeholder="Title" type="text">
                        <label for="title"></label>
                        <input aria-label="Text" class="form-control form-control-lg" id="text" name="input_text"
                               placeholder="Text"
                               type="text">
                        <label for="text"></label>
                    </div>
                </div>
                <div class="radio-boxes-container">
                    <div class="form-check radio-box">
                        <input checked class="form-check-input" id="urlRadio" name="input_type" type="radio"
                               value="url">
                        <label class="form-check-label" for="urlRadio">
                            URL
                        </label>
                    </div>

                    <div class="form-check radio-box">
                        <input class="form-check-input" id="txtRadio" name="input_type" type="radio" value="txt">
                        <label class="form-check-label" for="txtRadio">
                            TEXT
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark sbm-bttn" type="submit">Predict</button>
        </form>
    </div>
</div>

{% if prediction_result %}
<div class="alert alert-info mt-3 text-center" role="alert">
    Prediction results : {{ prediction_result }}
    {% if used_model %}
    (Model: {{ used_model }})
    {% endif %}
</div>
{% endif %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>